<style>
  .change-password-index{
    margin: 1px;
    position: absolute;
    z-index: 9999;
    right: 10px;
    margin-top: -25px;
  }
</style>
<div class="container-fluid">
  <div class="module-box">
    <div class="card-body">

      <form [formGroup]="formUsrLoginGroupChnage" (ngSubmit)="FormButtonChange()">
        <div class="row">
          <div class="col-lg-12">
            <div >
            <div class="form-row">
              <div class="form-group col-md-4">
                <label class="col-form-label" for="fgffdwdg">Enter Old Password</label>
              </div>
              <div class="form-group col-md-8">
                <input class="form-control form-control-sm" type="password" id="fgffdwdg"
                  placeholder="Enter your old password" formControlName="PasswordOld"
                  [(ngModel)]="ChangePasswordModelObj.User_PasswordOld"
                  [ngClass]="{ 'is-invalid': submittedchange && fxChange.PasswordOld.errors }"
                  [type]="fieldPassword_Old ? 'text' : 'password'">
                  <span class="change-password-index">
                    <i
                    class="fa"
                    [ngClass]="{
                      'fa-eye-slash': !fieldPassword_Old,
                      'fa-eye': fieldPassword_Old
                    }"
                    (click)="viewPassword('OLD')"
                  ></i>
                   </span>
                <div *ngIf="submittedchange && fxChange.PasswordOld.errors" class="invalid-feedback">
                  <div *ngIf="fxChange.PasswordOld.errors.required">Old password is required</div>
                </div>
              </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                  <label class="col-form-label" for="fgfferwdg">Enter New Password</label>
                </div>
                <div class="form-group col-md-8">
                  <input class="form-control form-control-sm" type="password" id="fgfferwdg"
                    placeholder="Enter your new password" formControlName="PasswordNew"
                    [(ngModel)]="ChangePasswordModelObj.User_PasswordNew"
                    [ngClass]="{ 'is-invalid': submittedchange && fxChange.PasswordNew.errors }"
                    [type]="fieldPassword_New ? 'text' : 'password'">
                    <span class="change-password-index">
                      <i
                      class="fa"
                      [ngClass]="{
                        'fa-eye-slash': !fieldPassword_New,
                        'fa-eye': fieldPassword_New
                      }"
                      (click)="viewPassword('NEW')"
                    ></i>
                     </span>
                  <div *ngIf="submittedchange && fxChange.PasswordNew.errors" class="invalid-feedback">
                    <div *ngIf="fxChange.PasswordNew.errors.required">New password is required</div>
                    <div *ngIf="fxChange.PasswordNew.errors.minlength">Password must be at least 8 characters</div>
                  </div>
                </div>
              </div>
              <div class="form-row">
                  <div class="form-group col-md-4">
                    <label class="col-form-label" for="fgffdg">Enter Confirm Password</label>
                  </div>
                  <div class="form-group col-md-8">
                    <input class="form-control form-control-sm" type="password" id="fgffdg"
                      placeholder="Enter your new password" formControlName="PasswordConfirm"
                      [(ngModel)]="ChangePasswordModelObj.User_PasswordConfirm"
                      [ngClass]="{ 'is-invalid': submittedchange && fxChange.PasswordConfirm.errors }"
                      [type]="fieldPassword_Confirm ? 'text' : 'password'">
                      <span class="change-password-index">
                        <i
                        class="fa"
                        [ngClass]="{
                          'fa-eye-slash': !fieldPassword_Confirm,
                          'fa-eye': fieldPassword_Confirm
                        }"
                        (click)="viewPassword('CONFIRM')"
                      ></i>
                       </span>
                    <div *ngIf="submittedchange && fxChange.PasswordConfirm.errors" class="invalid-feedback">
                      <div *ngIf="fxChange.PasswordConfirm.errors.required">Confirm password is required</div>
                      <div *ngIf="fxChange.PasswordConfirm.errors.mustMatch">Password must match</div>
                    </div>
                  </div>
                </div>
            <div class="form-row justify-content-center">
              <div >
                <button type="submit" class="btn btn-primary waves-effect waves-light" [disabled]="isLoadingChange">
                  <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoadingChange, 'fa-lock': !isLoadingChange}"></i>
                  {{buttonChange}}</button>
              </div>
            </div>
          </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
