// .ellipsis {
    
//         text-overflow: ellipsis;
//         white-space: nowrap;
//         overflow: hidden;
//         width:100px; /* some width */
    
// }

.a1{
    font-family: inherit;
    color: #000;
    font-weight: inherit;
    line-height: 1.4285714286; 
    text-align: inherit; 
    font-size: 13px;
}