<form (ngSubmit)="SubmitContactTypeManage()">
  <div class="form-row">
    <div class="form-group col-md-12 text-center module-subheader" >
      <h5>Manage Contact Types</h5>
    </div>
    <br>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label>Contact Type Name<i class="text-danger"> *</i></label>
      <input type="text" class="form-control form-control-sm" [(ngModel)]="contactTypeMasterDTO.CT_Name"
        placeholder="Enter Contact Type.." [ngModelOptions]="{standalone: true}">
        <div *ngIf="isContactTypeValid" class="Mydropdown">this field is required</div>
    </div>
    <div class="form-group col-md-1">
      <label>Active</label>
      <div class="custom-control custom-switch" style="margin-top:5px">
        <input type="checkbox" class="custom-control-input" id="CT_IsActive"
          [(ngModel)]="contactTypeMasterDTO.CT_IsActive"
          [ngModelOptions]="{standalone: true}">
        <label class="custom-control-label" for="CT_IsActive"></label>
      </div>
    </div>
    <div class="form-group col-md-3"  style="margin-top: 15px;">
      <button type="submit" class="btn btn-primary waves-effect waves-light"> <i class="far fa-save"></i>
        {{button}}</button>
        &nbsp;&nbsp;
        <button type="button" (click)="CancleClick()" class="btn btn-primary">
          Cancel</button>
    </div>
  </div>
</form>
<div class="col-12">
  <kendo-grid #gridUserGroup [kendoGridBinding]="contactTypesList" [pageSize]="15" [pageable]="true" [sortable]="true"
  [filterable]="true" [selectable]="true" [groupable]="false" [skip]="state_grid2.skip" [sort]="state_grid2.sort"
  [filter]="state_grid2.filter" (dataStateChange)="dataStateChange_grid2($event)">
  <kendo-grid-column *ngFor="let column of gridContactTypeColumns" [field]="column.field" [title]="column.title" [width]="80" [filterable]="column.title=='Active'?false:true">
    <ng-template kendoGridCellTemplate let-dataItem let-i="rowIndex" *ngIf="column.title==='Active'">
      <div class="custom-control custom-switch">
        <input type="checkbox" (change)="checkChange($event, dataItem)"
            class="custom-control-input" id="switchisActive_group{{i}}"
            [checked]="dataItem.CT_IsActive">
        <label class="custom-control-label"
            for="switchisActive_group{{i}}"></label>
    </div>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column title="Action" width="80">
    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
      <a class="edit" data-toggle="tooltip" (click)="EditContactType(dataItem)"  class="k-grid-ignore-click" data-placement="top"
        title="Edit Record">
        <i class="fa fa-edit"></i>
      </a> &nbsp;&nbsp;
      <button class="edit" data-toggle="tooltip" (click)="DeleteContactType(dataItem)" data-placement="top"
        title="Delete Record" style="cursor: pointer; border:none;">
        <i class="fa fa-trash"></i>
      </button>
    </ng-template>
  </kendo-grid-column>
  <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
    <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
    <kendo-pager-numeric-buttons [buttonCount]="10"></kendo-pager-numeric-buttons>
    <kendo-pager-next-buttons></kendo-pager-next-buttons>
    <kendo-pager-info></kendo-pager-info>
    <kendo-pager-page-sizes [pageSizes]="[15, 30, 50, 100]"></kendo-pager-page-sizes>
  </ng-template>
  </kendo-grid>
</div>
