.k-avatar {
    margin-left: 80px;
    font-size: 30px;
}
.example {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}
.k-form {
    width: 240px;
}
.card-header{
    background-color: #000003;
    color: #ffffff;
}