.repair-change-password{
    margin-top: 20px;
    .row {
        margin: 20px 0px;
    }
    .card{
        font-size: 16px;
        .card-header{
            background-color: #000003;
            color: #ffffff;
        }
    }
}
.change-password-index{
    margin: 1px;
    position: absolute;
    z-index: 9999;
    right: 20px;
    margin-top: -29px;
  }
