<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-12 col-lg-6 col-xl-5">
      <div class="card">
        <div class="card-body">
          
          <div class="d-flex justify-content-center">
            <img src="assets/images/logo.jpg" class="img-responsive">
          </div>
          <div class="d-flex justify-content-center">
            <h3>Change Password</h3> 
            
           </div>
          <div class="modal-body">
            <form [formGroup]="formUsrLoginGroupChnage" (ngSubmit)="formButtonChange()">
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-row">
                    <div class="form-group col-md-3">
                      <label class="col-form-label" for="fgffdwdg">UserName</label>
                    </div>
                    <div class="form-group col-md-9">
                      <input class="form-control form-control-sm" type="text" id="fgffdwdg"
                        placeholder="Enter UserName" required readonly formControlName="user_LoginName"
                        [(ngModel)]="userLoginModel.user_LoginName"
                        [ngClass]="{ 'is-invalid': submittedchange && fxChange.user_LoginName.errors }">
                      <div *ngIf="submittedchange && fxChange.user_LoginName.errors" class="invalid-feedback">
                        <div *ngIf="fxChange.user_LoginName.errors.required">UserName is required</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                      <div class="form-group col-md-3">
                        <label class="col-form-label" for="fgfferwdg">Password</label>
                      </div>
                      <div class="form-group input-group  col-md-9">
                        <input class="form-control form-control-sm" type="password" id="fgfferwdg"
                          placeholder="Enter Password" formControlName="PasswordNew" 
                          [type]="fieldTextType ? 'text' : 'password'"
                          [(ngModel)]="userLoginModel.user_PasswordNew"
                          [ngClass]="{ 'is-invalid': submittedchange && fxChange.PasswordNew.errors }">
                          <span class="test-index">
                      <i 
                      class="fa"
                      [ngClass]="{
                        'fa-eye-slash': !fieldTextType,
                        'fa-eye': fieldTextType
                      }"
                      (click)="toggleFieldTextType()"
                    ></i>
                    </span>
                           
                         
                        <div *ngIf="submittedchange && fxChange.PasswordNew.errors" class="invalid-feedback">
                          <div *ngIf="fxChange.PasswordNew.errors.required"> Password is required</div>
                          <div *ngIf="fxChange.PasswordNew.errors.minlength">
                            Password  must be 6 or more characters in length<br>
                           
                          </div>
                          <div *ngIf="fxChange.PasswordNew.errors.pattern">
                            Password must contain 1 or more   Alphabet  characters [A-Z / a-z]<br>
                            Password must contain 1 or more  Special characters
                          </div>
                          
                        </div>
                      </div>
                   
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                          <label class="col-form-label" for="fgffdg">Confirm Password</label>
                        </div>
                        <div class="form-group input-group col-md-9">
                          <input class="form-control form-control-sm" type="password" id="fgffdg"
                          [type]="fieldTextCon ? 'text' : 'password'"
                            placeholder="Enter Confirm password" formControlName="PasswordConfirm"
                            [(ngModel)]="userLoginModel.user_PasswordConfirm"
                            [ngClass]="{ 'is-invalid': submittedchange && fxChange.PasswordConfirm.errors }">
                            <span class="test-index">
                              <i 
                              class="fa"
                              [ngClass]="{
                                'fa-eye-slash': !fieldTextCon,
                                'fa-eye': fieldTextCon
                              }"
                              (click)="toggleFieldTextCon()"
                            ></i>
                            </span>
                          <div *ngIf="submittedchange && fxChange.PasswordConfirm.errors" class="invalid-feedback">
                            <div *ngIf="fxChange.PasswordConfirm.errors.required">Confirm password is required</div>
                            <div *ngIf="fxChange.PasswordConfirm.errors.mustMatch">Password must match</div>
                          </div>
                        </div>
                        <div class="form-group  col-2">
                    
                      
                        
                        </div>
                      </div>
                 
                    <div class="d-flex justify-content-center">
                      <button type="submit" class="btn btn-primary waves-effect waves-light" [disabled]="isLoadingChange">
                        <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoadingChange, 'fa-lock': !isLoadingChange}"></i>
                        {{buttonChange}}</button>
                    </div>
                 
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <footer class="footer footer-alt">
    2023 &copy; IPRESERVATION LIVE <a href="#" class="text-white-50"></a>
  </footer>
</div>

<!-- msg -->
<ng-template #content let-modal>
  <div class="modal-header">
    Message
    <button type="button" class="close" (click)="modal.close('Save click')" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="text-center">
      <span>{{messageFlag}}</span>
      <hr>
      <button type="button" class="btn btn-primary waves-effect waves-light"
        (click)="modal.close('Save click')">Close</button>
    </div>
  </div>
</ng-template>

