<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <app-breadcrumb title="Forms"></app-breadcrumb>
            <div class="icons-list">
                <div class="row">
                          <div class="icons mt-0">
                            <a [routerLink]="['../view-forms']">
                                <i class="fa fa-check-square"></i>
                                <span>Dynamic Forms</span>
                            </a>
                          </div>  
                          <div class="icons mt-0">
                            <a [routerLink]="['../template-forms']">
                                <i class="fa fa-check-square"></i>
                                <span>
                                    Template forms
                                </span>
                            </a>
                          </div>  
                          <div class="icons mt-0">
                            <a [routerLink]="['../view-forms']">
                                <i class="fa fa-check-square"></i>
                                <span>
                                    Allowable checklist
                                </span>
                            </a>
                          </div> 
                           
                    
                </div>
            </div>
        </div>
    </div>
</div>


