@media(max-width:900px){
    .smallbox{
        width: 400% !important;
    }
    .btngrp{
        margin-top: 2% !important;
    }

}

.whole-cell {
    display: block;
    padding: 8px 12px;
  }
  td.highlight {
    background-color: #f7aeae !important;
  }
