<div class="container-fluid" style="margin-top: 1%;" [ngClass]="{ 'HelpCursor': isHelpActive }">
      
    <h4 class="module-box-header mb-0">Add Work Columns Test
      <a class="pull-right mr-2" data-toggle="tooltip" (click)="SetHelpFlag()" data-placement="top"
      title="Item Help" style="cursor: pointer;">Need Help
      <i class="fas fa-question"></i>&nbsp;&nbsp;
      </a>
    </h4>
    <form [formGroup]="formUsrCommonGroup" (ngSubmit)="FormButton()">
    <div class="form-row m-0 module-subheader p-1 pl-2">
      <div class="float-right">
        <button id="client_viewdetail_1" class="btn btn-primary" *ngIf="IsEditDisable"
          [routerLink]="['/home/WorkColumnsTests']" (click)="EditForms()">
          <i class="far fa-edit mr-1"></i> Edit</button>
        <button id="client_viewdetail_1" class="btn btn-primary" type="submit" *ngIf="!IsEditDisable"
          [disabled]="isLoading">
          <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-save': !isLoading}"></i>
          {{button}}
        </button>
        <button id="client_viewdetail_1" class="btn btn-primary" 
          style="margin-left: 6px;">
          <i class="fas fa-arrow-alt-circle-left mr-1"></i> Back</button>

      </div>
    </div>
  
      <div class="row m-0 module-box">
        <div class="col-lg-12 p-2">
          
            <br>
              <div class="row">
                <div class="col-lg-4 ipl my-2" *ngFor="let item of Menulst; index as inx">
                    
                    
                        <h5  class=" header p-1 mb-0" *ngIf="inx === 0"> Admin</h5>
                        <h5 class=" header p-1 mb-0" *ngIf="inx === 1"> Contractor</h5>
                        <h5 class="header p-1 mb-0" *ngIf="inx === 2"> Processor</h5>
                        <h5 class="header p-1 mb-0" *ngIf="inx === 3"> Coordinator</h5>
                        <h5 class="header p-1 mb-0" *ngIf="inx === 4"> Client</h5>

                        
                  <div class="row">
                    <div class="col-lg-12" >
                        
                      <iplapp-Work-bulk-checkbox
                        [props]="item"
                        [disable]="IsAssigned"
                        (selectbox)="checkboxChanges($event)"
                        
                        (Selectclick)="DispalyInfoChild($event)"
                        > 
                      </iplapp-Work-bulk-checkbox>
        
                  </div>
                  </div>
                </div>
              </div>

           
        </div>
      </div>
    </form>
</div>
