<div class="container-fluid mt-2">
  <div class="">
    <div class="h3 module-box-header mb-0">
      Documents

    </div>
    <div class="row m-0 module-subheader p-1 pl-2">
      <div class="col-12">
        <button id="client_viewdetail_1" (click)="hideShowDiv(1)" class="btn btn-primary"[disabled]="tabhide">Add Folder</button>&nbsp;&nbsp;
        <button id="client_viewdetail_1" (click)="hideShowDiv(2)" class="btn btn-primary"[disabled]="tabhide">Add File</button>
      </div>
    </div>
    <div class="module-box p-2 ">
      <div class="container" [hidden]="folderhide">
        <iplapp-document-form #child
          [documentAndFormsDTO]="documentAndFormsDTO"
          [folderlst]="folderlst"
          [groupRoleList]="groupRoleList"
          [folderSubmitted]="folderSubmitted"
          (onSubmit)="folderDetaisDataPost($event)"
          (cancel)="clearForm()"  (folderdrd)="folderdrd($event)"
          (dispalyInfoData)="DispalyInfo($event)">
        </iplapp-document-form>
      </div>
      <div class="container"[hidden]="foldershow">
        <iplapp-file-form #filechild
          [fileMasterModelObj]="fileMasterModelObj"
          [folderlst]="folderlst"
          [filelst]="filelst"
          [fileSubmitted]="fileSubmitted"
          [inputelement]="inputelement"
          [formArrayVal]="formArrayVal"
          [dropdownList]="dropdownList"
          [customerNumberList]="customerNumberList"
          [loanTypeList]="loanTypeList"
          [workTypeList]="workTypeList"
          [workTypeCategory]="workTypeCategory"
          [stateList]="stateList"
          [countryList]="countryList"
          (onSubmit)="fileDatastore($event)"
          (cancel)="clearFile()"
          (filedrd)= "filedrd($event)"
          (dispalyInfoData)="DispalyInfo($event)">
        >
        </iplapp-file-form>
      </div>
      <br>
      <div class="row m-0 module-subheader">
        <div class="col-4"><h5>Name</h5></div>
        <div class="col-3"><h5>Description</h5></div>
        <div class="col-1"><h5>Auto Assign</h5></div>
        <div class="col-1"><h5>Created By</h5></div>
        <div class="col-1"><h5>Modifiled By</h5></div>
        <div class="col-2"><h5>Action</h5></div>
      </div>
      <hr style="margin-top: 10px;margin-bottom: 10px;">
      <div class="row">
        <div class="col-12 my-1" *ngFor="let item of parentlst">
          <div class="row">
            <div class="col-4">
              <a href="javascript:void(0)" (click)="TreeViewHistoryManage(item,0)" >
                <i *ngIf="GetTreeViewHistory(item)" class="fas fa-chevron-circle-down" style='font-size:16px'></i>
                <i *ngIf="!GetTreeViewHistory(item)" class="fas fa-chevron-circle-right" style='font-size:16px'></i>
              </a>
                &nbsp;&nbsp;&nbsp;
              <label><i style="margin-right: 10px;font-size: 16px;" class="fas fa-folder"></i>{{item.Fold_Name}}</label>
            </div>
            <div class="col-3">
              <!-- {{(item.Fold_Desc.length>50)? (item.Fold_Desc | slice:0:50) + '...':(item.Fold_Desc)}} -->
              <label *ngIf="item.Fold_Desc != null && item.Fold_Desc.length > 50">{{item.Fold_Desc | slice:0:50}}<a href="javascript:void(0)" title="View Description" (click)="ShowDescription(item.Fold_Desc)">...</a></label>
              <label *ngIf="item.Fold_Desc != null && item.Fold_Desc.length <= 50">{{item.Fold_Desc}}</label>
            </div>
            <div class="col-1"></div>
            <div class="col-1">
              <label>{{item.Fold_CreatedBy}}</label>
            </div>
            <div class="col-1">
              <label>{{item.Fold_ModifiedBy}}</label>
            </div>
            <div class="col-2">
              <a href="javascript:void(0)" title="Edit Record" (click)="editData(item)"><i class="fas fa-edit"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="javascript:void(0)" title="Delete Record" (click)="DeleteFolder(item)"><i class="fa fa-trash"></i></a>
            </div>
          </div>

          <div class="row" *ngIf="GetTreeViewHistory(item)">
            <div class="col-12 my-1"  *ngFor="let filedt of item.lstFolder_File_MasterDTO">
              <div class="row" >
                <div class="col-4 text-primary">
                  <a [href]="filedt.Fold_File_Local_Path" target="_blank" [download]="filedt.Fold_File_Local_Path" title="Download File" style="margin-left: 35px;">
                  <i style="margin-right: 10px;font-size: 16px;" class="fas fa-file-alt"></i>{{filedt.Fold_File_Name}}
                  </a>
                </div>
                <div class="col-3">
                  <!-- <label>{{filedt.Fold_File_Desc}}</label> -->
                  <label *ngIf="filedt.Fold_File_Desc != null && filedt.Fold_File_Desc.length > 50">{{filedt.Fold_File_Desc | slice:0:50}}<a href="javascript:void(0)" title="View Description" (click)="ShowDescription(filedt.Fold_File_Desc)">...</a></label>
                  <label *ngIf="filedt.Fold_File_Desc != null && filedt.Fold_File_Desc.length <= 50">{{filedt.Fold_File_Desc}}</label>
                </div>
                <div class="col-1">
                  <label>{{filedt.Fold_Is_AutoAssign?"On":"Off"}}</label>
                </div>
                <div class="col-1">
                  <label>{{filedt.Fold_File_CreatedBy}}</label>
                </div>
                <div class="col-1">
                  <label>{{filedt.Fold_File_ModifiedBy}}</label>
                </div>
                <div class="col-2">
                  <a href="javascript:void(0)" title="Edit Record" (click)="editFileData(filedt)"><i class="fas fa-edit"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                  <a href="javascript:void(0)" title="Delete Record" (click)="DeleteFile(filedt)"><i class="fa fa-trash"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                  <a [href]="filedt.Fold_File_Local_Path" target="_blank" title="Download File"
                  [download]="filedt.Fold_File_Local_Path"><i class="fa fa-download"
                    aria-hidden="true"></i></a>
                </div>
              </div>

            </div>
          </div>
          <div class="row" *ngIf="GetTreeViewHistory(item)">
            <div class="col-12" *ngFor="let child of item.lstFolder_Get_Parent_MasterDTO">
              <div class="row" style="background-color: #f5f5f5;">
                <div class="col-4">
                  <a href="javascript:void(0)" (click)="TreeViewHistoryManage(child,1)" style="margin-left: 35px;">
                    <i *ngIf="GetTreeViewHistory(child)" class="fas fa-chevron-circle-down" style='font-size:16px'></i>
                    <i *ngIf="!GetTreeViewHistory(child)" class="fas fa-chevron-circle-right" style='font-size:16px'></i>
                  </a>&nbsp;&nbsp;&nbsp;
                  <label><i style="margin-right: 10px;font-size: 16px;" class="fas fa-folder"></i>{{child.Fold_Name}}</label>
                </div>
                <div class="col-3">
                  <!-- <label>{{child.Fold_Desc}}</label> -->
                  <label *ngIf="child.Fold_Desc != null && child.Fold_Desc.length > 50">{{child.Fold_Desc | slice:0:50}}<a href="javascript:void(0)" title="View Description" (click)="ShowDescription(child.Fold_Desc)">...</a></label>
                  <label *ngIf="child.Fold_Desc != null && child.Fold_Desc.length <= 50">{{child.Fold_Desc}}</label>
                </div>
                <div class="col-1">

                </div>
                <div class="col-1">
                  <label>{{child.Fold_CreatedBy}}</label>
                </div>
                <div class="col-1">
                  <label>{{child.Fold_ModifiedBy}}</label>
                </div>
                <div class="col-2">
                  <a href="javascript:void(0)" title="Edit Record" (click)="editData(child)"><i class="fas fa-edit"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                  <a href="javascript:void(0)" title="Delete Record" (click)="DeleteFolder(child)"><i class="fa fa-trash"></i></a>
                </div>
              </div>
              <div class="row" *ngIf="GetTreeViewHistory(child)">
                <div class="col-12" *ngFor="let childfiledt of child.lstFolder_File_MasterDTO; let first = first ;let last = last;">
                  <hr *ngIf="first" style="margin-top: 10px;margin-bottom: 10px;">
                  <div class="row text-primary" >
                    <div class="col-4">
                      <a [href]="childfiledt.Fold_File_Local_Path" target="_blank" [download]="childfiledt.Fold_File_Local_Path" title="Download File" style="margin-left: 65px;">
                      <i style="margin-right: 10px;font-size: 16px;" class="fas fa-file-alt"></i>{{childfiledt.Fold_File_Name}}
                      </a>
                    </div>
                    <div class="col-3">
                      <!-- <label>{{childfiledt.Fold_File_Desc}}</label> -->
                      <label *ngIf="childfiledt.Fold_File_Desc != null && childfiledt.Fold_File_Desc.length > 50">{{childfiledt.Fold_File_Desc | slice:0:50}}<a href="javascript:void(0)" title="View Description" (click)="ShowDescription(childfiledt.Fold_File_Desc)">...</a></label>
                      <label *ngIf="childfiledt.Fold_File_Desc != null && childfiledt.Fold_File_Desc.length <= 50">{{childfiledt.Fold_File_Desc}}</label>
                    </div>
                    <div class="col-1">
                      <label>{{childfiledt.Fold_Is_AutoAssign?"On":"Off"}}</label>
                    </div>
                    <div class="col-1">
                      <label>{{childfiledt.Fold_File_CreatedBy}}</label>
                    </div>
                    <div class="col-1">
                      <label>{{childfiledt.Fold_File_ModifiedBy}}</label>
                    </div>
                    <div class="col-2">
                      <a href="javascript:void(0)" title="Edit Record" (click)="editFileData(childfiledt)"><i class="fas fa-edit"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                      <a href="javascript:void(0)" title="Delete Record" (click)="DeleteFile(childfiledt)"><i class="fa fa-trash"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                      <a [href]="childfiledt.Fold_File_Local_Path" target="_blank" title="Download File"
                      [download]="childfiledt.Fold_File_Local_Path"><i class="fa fa-download"
                        aria-hidden="true"></i></a>
                    </div>
                  </div>
                  <hr *ngIf="!last" style="margin-top: 10px;margin-bottom: 10px;">
                </div>
              </div>
              <hr style="margin-top: 10px;margin-bottom: 10px;">
              <div class="row" *ngIf="GetTreeViewHistory(child)">
                <div class="col-12" *ngFor="let child2 of child.lstFolder_Get_Parent_MasterDTO">
                  <div class="row" style="background-color: #f5f5f5;">
                    <div class="col-4">
                      <a href="javascript:void(0)" (click)="TreeViewHistoryManage(child2,2)" style="margin-left: 65px;">
                        <i *ngIf="GetTreeViewHistory(child2)" class="fas fa-chevron-circle-down" style='font-size:16px'></i>
                        <i *ngIf="!GetTreeViewHistory(child2)" class="fas fa-chevron-circle-right" style='font-size:16px'></i>
                      </a>&nbsp;&nbsp;&nbsp;
                      <label><i style="margin-right: 10px;font-size: 16px;" class="fas fa-folder"></i>{{child2.Fold_Name}}</label>
                    </div>
                    <div class="col-3">
                      <!-- <label>{{child.Fold_Desc}}</label> -->
                      <label *ngIf="child2.Fold_Desc != null && child2.Fold_Desc.length > 50">{{child2.Fold_Desc | slice:0:50}}<a href="javascript:void(0)" title="View Description" (click)="ShowDescription(child2.Fold_Desc)">...</a></label>
                      <label *ngIf="child2.Fold_Desc != null && child2.Fold_Desc.length <= 50">{{child2.Fold_Desc}}</label>
                    </div>
                    <div class="col-1">

                    </div>
                    <div class="col-1">
                      <label>{{child2.Fold_CreatedBy}}</label>
                    </div>
                    <div class="col-1">
                      <label>{{child2.Fold_ModifiedBy}}</label>
                    </div>
                    <div class="col-2">
                      <a href="javascript:void(0)" title="Edit Record" (click)="editData(child2)"><i class="fas fa-edit"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                      <a href="javascript:void(0)" title="Delete Record" (click)="DeleteFolder(child2)"><i class="fa fa-trash"></i></a>
                    </div>
                  </div>
                  <div class="row" *ngIf="GetTreeViewHistory(child2)">
                    <div class="col-12" *ngFor="let childfiledt of child2.lstFolder_File_MasterDTO; let first = first ;let last = last;">
                      <hr *ngIf="first" style="margin-top: 10px;margin-bottom: 10px;">
                      <div class="row text-primary" >
                        <div class="col-4">
                          <a [href]="childfiledt.Fold_File_Local_Path" target="_blank" [download]="childfiledt.Fold_File_Local_Path" title="Download File" style="margin-left: 95px;">
                          <i style="margin-right: 10px;font-size: 16px;" class="fas fa-file-alt"></i>{{childfiledt.Fold_File_Name}}
                          </a>
                        </div>
                        <div class="col-3">
                          <!-- <label>{{childfiledt.Fold_File_Desc}}</label> -->
                          <label *ngIf="childfiledt.Fold_File_Desc != null && childfiledt.Fold_File_Desc.length > 50">{{childfiledt.Fold_File_Desc | slice:0:50}}<a href="javascript:void(0)" title="View Description" (click)="ShowDescription(childfiledt.Fold_File_Desc)">...</a></label>
                          <label *ngIf="childfiledt.Fold_File_Desc != null && childfiledt.Fold_File_Desc.length <= 50">{{childfiledt.Fold_File_Desc}}</label>
                        </div>
                        <div class="col-1">
                          <label>{{childfiledt.Fold_Is_AutoAssign?"On":"Off"}}</label>
                        </div>
                        <div class="col-1">
                          <label>{{childfiledt.Fold_File_CreatedBy}}</label>
                        </div>
                        <div class="col-1">
                          <label>{{childfiledt.Fold_File_ModifiedBy}}</label>
                        </div>
                        <div class="col-2">
                          <a href="javascript:void(0)" title="Edit Record" (click)="editFileData(childfiledt)"><i class="fas fa-edit"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                          <a href="javascript:void(0)" title="Delete Record" (click)="DeleteFile(childfiledt)"><i class="fa fa-trash"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                          <a [href]="childfiledt.Fold_File_Local_Path" target="_blank" title="Download File"
                          [download]="childfiledt.Fold_File_Local_Path"><i class="fa fa-download"
                            aria-hidden="true"></i></a>
                        </div>
                      </div>
                      <hr *ngIf="!last" style="margin-top: 10px;margin-bottom: 10px;">
                    </div>
                  </div>
                  <hr style="margin-top: 10px;margin-bottom: 10px;">
                  <div class="row" *ngIf="GetTreeViewHistory(child2)">
                    <div class="col-12" *ngFor="let child3 of child2.lstFolder_Get_Parent_MasterDTO">
                      <div class="row" style="background-color: #f5f5f5;">
                        <div class="col-4">
                          <a href="javascript:void(0)" (click)="TreeViewHistoryManage(child3,3)" style="margin-left: 95px;">
                            <i *ngIf="GetTreeViewHistory(child3)" class="fas fa-chevron-circle-down" style='font-size:16px'></i>
                            <i *ngIf="!GetTreeViewHistory(child3)" class="fas fa-chevron-circle-right" style='font-size:16px'></i>
                          </a>&nbsp;&nbsp;&nbsp;
                          <label><i style="margin-right: 10px;font-size: 16px;" class="fas fa-folder"></i>{{child3.Fold_Name}}</label>
                        </div>
                        <div class="col-3">
                          <!-- <label>{{child.Fold_Desc}}</label> -->
                          <label *ngIf="child3.Fold_Desc != null && child3.Fold_Desc.length > 50">{{child3.Fold_Desc | slice:0:50}}<a href="javascript:void(0)" title="View Description" (click)="ShowDescription(child3.Fold_Desc)">...</a></label>
                          <label *ngIf="child3.Fold_Desc != null && child3.Fold_Desc.length <= 50">{{child3.Fold_Desc}}</label>
                        </div>
                        <div class="col-1">

                        </div>
                        <div class="col-1">
                          <label>{{child3.Fold_CreatedBy}}</label>
                        </div>
                        <div class="col-1">
                          <label>{{child3.Fold_ModifiedBy}}</label>
                        </div>
                        <div class="col-2">
                          <a href="javascript:void(0)" title="Edit Record" (click)="editData(child3)"><i class="fas fa-edit"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                          <a href="javascript:void(0)" title="Delete Record" (click)="DeleteFolder(child3)"><i class="fa fa-trash"></i></a>
                        </div>
                      </div>
                      <div class="row" *ngIf="GetTreeViewHistory(child3)">
                        <div class="col-12" *ngFor="let childfiledt of child3.lstFolder_File_MasterDTO; let first = first ;let last = last;">
                          <hr *ngIf="first" style="margin-top: 10px;margin-bottom: 10px;">
                          <div class="row" style="background-color: antiquewhite;">
                            <div class="col-4">
                              <a [href]="childfiledt.Fold_File_Local_Path" target="_blank" [download]="childfiledt.Fold_File_Local_Path" title="Download File" style="margin-left: 125px;color: black;">
                              <i style="margin-right: 10px;font-size: 16px;" class="fas fa-file-alt"></i>{{childfiledt.Fold_File_Name}}
                              </a>
                            </div>
                            <div class="col-3">
                              <!-- <label>{{childfiledt.Fold_File_Desc}}</label> -->
                              <label *ngIf="childfiledt.Fold_File_Desc != null && childfiledt.Fold_File_Desc.length > 50">{{childfiledt.Fold_File_Desc | slice:0:50}}<a href="javascript:void(0)" title="View Description" (click)="ShowDescription(childfiledt.Fold_File_Desc)">...</a></label>
                              <label *ngIf="childfiledt.Fold_File_Desc != null && childfiledt.Fold_File_Desc.length <= 50">{{childfiledt.Fold_File_Desc}}</label>
                            </div>
                            <div class="col-1">
                              <label>{{childfiledt.Fold_Is_AutoAssign?"On":"Off"}}</label>
                            </div>
                            <div class="col-1">
                              <label>{{childfiledt.Fold_File_CreatedBy}}</label>
                            </div>
                            <div class="col-1">
                              <label>{{childfiledt.Fold_File_ModifiedBy}}</label>
                            </div>
                            <div class="col-2">
                              <a href="javascript:void(0)" title="Edit Record" (click)="editFileData(childfiledt)"><i class="fas fa-edit"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                              <a href="javascript:void(0)" title="Delete Record" (click)="DeleteFile(childfiledt)"><i class="fa fa-trash"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                              <a [href]="childfiledt.Fold_File_Local_Path" target="_blank" title="Download File"
                              [download]="childfiledt.Fold_File_Local_Path"><i class="fa fa-download"
                                aria-hidden="true"></i></a>
                            </div>
                          </div>
                          <hr *ngIf="!last" style="margin-top: 10px;margin-bottom: 10px;">
                        </div>
                      </div>
                      <hr style="margin-top: 10px;margin-bottom: 10px;">
                      <div class="row" *ngIf="GetTreeViewHistory(child3)">
                        <div class="col-12" *ngFor="let child4 of child3.lstFolder_Get_Parent_MasterDTO">
                          <div class="row" style="background-color: #f5f5f5;">
                            <div class="col-4">
                              <a href="javascript:void(0)" (click)="TreeViewHistoryManage(child4,4)" style="margin-left: 125px;">
                                <i *ngIf="GetTreeViewHistory(child4)" class="fas fa-chevron-circle-down" style='font-size:16px'></i>
                                <i *ngIf="!GetTreeViewHistory(child4)" class="fas fa-chevron-circle-right" style='font-size:16px'></i>
                              </a>&nbsp;&nbsp;&nbsp;
                              <label><i style="margin-right: 10px;font-size: 16px;" class="fas fa-folder"></i>{{child4.Fold_Name}}</label>
                            </div>
                            <div class="col-3">
                              <!-- <label>{{child.Fold_Desc}}</label> -->
                              <label *ngIf="child4.Fold_Desc != null && child4.Fold_Desc.length > 50">{{child4.Fold_Desc | slice:0:50}}<a href="javascript:void(0)" title="View Description" (click)="ShowDescription(child4.Fold_Desc)">...</a></label>
                              <label *ngIf="child4.Fold_Desc != null && child4.Fold_Desc.length <= 50">{{child4.Fold_Desc}}</label>
                            </div>
                            <div class="col-1">

                            </div>
                            <div class="col-1">
                              <label>{{child4.Fold_CreatedBy}}</label>
                            </div>
                            <div class="col-1">
                              <label>{{child4.Fold_ModifiedBy}}</label>
                            </div>
                            <div class="col-2">
                              <a href="javascript:void(0)" title="Edit Record" (click)="editData(child4)"><i class="fas fa-edit"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                              <a href="javascript:void(0)" title="Delete Record" (click)="DeleteFolder(child4)"><i class="fa fa-trash"></i></a>
                            </div>
                          </div>
                          <div class="row" *ngIf="GetTreeViewHistory(child4)">
                            <div class="col-12" *ngFor="let childfiledt of child4.lstFolder_File_MasterDTO; let first = first ;let last = last;">
                              <hr *ngIf="first" style="margin-top: 10px;margin-bottom: 10px;">
                              <div class="row" >
                                <div class="col-4">
                                  <a [href]="childfiledt.Fold_File_Local_Path" target="_blank" [download]="childfiledt.Fold_File_Local_Path" title="Download File" style="margin-left: 155px;color: black;">
                                  <i style="margin-right: 10px;font-size: 16px;" class="fas fa-file-alt"></i>{{childfiledt.Fold_File_Name}}
                                  </a>
                                </div>
                                <div class="col-3">
                                  <!-- <label>{{childfiledt.Fold_File_Desc}}</label> -->
                                  <label *ngIf="childfiledt.Fold_File_Desc != null && childfiledt.Fold_File_Desc.length > 50">{{childfiledt.Fold_File_Desc | slice:0:50}}<a href="javascript:void(0)" title="View Description" (click)="ShowDescription(childfiledt.Fold_File_Desc)">...</a></label>
                                  <label *ngIf="childfiledt.Fold_File_Desc != null && childfiledt.Fold_File_Desc.length <= 50">{{childfiledt.Fold_File_Desc}}</label>
                                </div>
                                <div class="col-1">
                                  <label>{{childfiledt.Fold_Is_AutoAssign?"On":"Off"}}</label>
                                </div>
                                <div class="col-1">
                                  <label>{{childfiledt.Fold_File_CreatedBy}}</label>
                                </div>
                                <div class="col-1">
                                  <label>{{childfiledt.Fold_File_ModifiedBy}}</label>
                                </div>
                                <div class="col-2">
                                  <a href="javascript:void(0)" title="Edit Record" (click)="editFileData(childfiledt)"><i class="fas fa-edit"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                  <a href="javascript:void(0)" title="Delete Record" (click)="DeleteFile(childfiledt)"><i class="fa fa-trash"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                  <a [href]="childfiledt.Fold_File_Local_Path" target="_blank" title="Download File"
                                  [download]="childfiledt.Fold_File_Local_Path"><i class="fa fa-download"
                                    aria-hidden="true"></i></a>
                                </div>
                              </div>
                              <hr *ngIf="!last" style="margin-top: 10px;margin-bottom: 10px;">
                            </div>
                          </div>
                          <hr style="margin-top: 10px;margin-bottom: 10px;">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
