.page-title{
    font-weight: bolder;
    background-color: hwb(203deg 69% 21%);
    height:2rem;
    padding-left:1rem;
    padding-top: 0.5rem;
}
.card-header{
    display: flex;
    height: 4rem;
    align-items: baseline;
    justify-content: space-between;
    background-color: #f8f8f8;
}
.pervious-answer {
  color: green;
  font-weight: 900;
}


// .page-title{
//     font-weight: bolder;
//     background-color: hwb(203deg 69% 21%);
//     height: 3rem;
//     display: flex;
//     align-items: center;
//     padding-left: 1rem;
// }

 p#innerPara{padding:20px ;}
 legend{width:auto;padding:10px 20px;}
 .border-div{
    border: 1px solid black;
 }

 input[type="text"] {
    width: 60%;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.3s;
    margin-bottom: 5px;
}
