<kendo-tabstrip (tabSelect)="onTabSelect($event)" style="margin-top: 20px;color:black">
  <kendo-tabstrip-tab [title]="'Task'" [selected]="true">
    <ng-template  kendoTabContent>
      <div class="row mt-2">
        <div class="col-lg-12">
          <form [formGroup]="formUsrCommonGroup" (ngSubmit)="formButton()">
            <div class="">
              <div class="form-row m-0">
                <div class="form-group col-md-12 text-center module-box-header mb-0" >
                  <h5 style="color: black;">Task Configuration</h5>
                </div>
              </div>
              <div class="form-row m-0 module-subheader p-1 pl-2">
                <div class="float-right">
                  <button type="submit" class="btn btn-primary waves-effect waves-light" [disabled]="isLoading">
                    <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-save': !isLoading}"></i>
                    {{button}}</button> &nbsp;&nbsp;
                  <a [routerLink]="['/home/clientconfiguration/viewclientconfiguration']" class="btn btn-primary"><i
                      class="fas fa-arrow-alt-circle-left mr-1"></i> Back</a>&nbsp;&nbsp;
                </div>
              </div>
              <div class="form-row" [hidden]="taskLoaddata">
                <div class="col-md-12 text-center"><i class="fa fa-spinner fa-spin" style="font-size: 40px;"></i></div>
              </div>
              <div class="form-row module-box m-0" style="overflow-x: auto;" [hidden]="taskLoadgrid">
                <kendo-grid #gridUser [kendoGridBinding]="griddata" [pageSize]="25" [pageable]="true" [sortable]="true"
                  [filterable]="false" [selectable]="true" [groupable]="false">
                  <kendo-grid-column *ngFor="let column of gridColumns" [field]="column.field" [title]="column.title"
                    [width]="column.width">
                    
                    <ng-template kendoGridCellTemplate let-dataItem let-i="rowIndex" *ngIf="column.title==='Task Name'">
                      <div class="example-wrapper">
                        <kendo-dropdownlist class="form-control form-control-sm" [data]="drptaskList"
                          [defaultItem]="defaultTaskItem" [itemDisabled]="taskItemDisabled" [filterable]="true"
                          [textField]="'Task_Name'" [valueField]="'Task_pkeyID'" (filterChange)="taskFilter($event)"
                          [(ngModel)]="dataItem.Task_Configuration_Task_Id" [valuePrimitive]="true"
                          [ngModelOptions]="{standalone: true}" (valueChange)="ChangeTask()">
                        </kendo-dropdownlist>
                      </div>
                    </ng-template>
                    <ng-template kendoGridCellTemplate let-dataItem let-i="rowIndex"
                      *ngIf="column.title==='Bid Category'">
                      <div class="example-wrapper">
                        <kendo-dropdownlist class="form-control form-control-sm" [data]="drpbidcatList"
                          [defaultItem]="defaultBidCatItem" [filterable]="true"
                          [textField]="'Import_Client_BidCategory_Name'"
                          [valueField]="'Import_Client_BidCategory_PkeyId'" (filterChange)="bidCategoryFilter($event)"
                          [(ngModel)]="dataItem.Task_Configuration_BidCategory_Id" [valuePrimitive]="true"
                          [ngModelOptions]="{standalone: true}">
                        </kendo-dropdownlist>
                      </div>
                    </ng-template>
                  </kendo-grid-column>

                  <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
                    <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
                    <kendo-pager-numeric-buttons [buttonCount]="10"></kendo-pager-numeric-buttons>
                    <kendo-pager-next-buttons></kendo-pager-next-buttons>
                    <kendo-pager-info></kendo-pager-info>
                    <kendo-pager-page-sizes [pageSizes]="[25, 50, 75, 100, 150, 200]"></kendo-pager-page-sizes>
                  </ng-template>
                </kendo-grid>
              </div>
            </div>
          </form>
        </div>
      </div>
    </ng-template>
  </kendo-tabstrip-tab>
  <kendo-tabstrip-tab [title]="'WorkType'">
    <ng-template kendoTabContent>
      <div class="row mt-2">
        <div class="col-lg-12">
          <form [formGroup]="formUsrCommonGroup" (ngSubmit)="wtFormButton()">
            
            <div class="">
              <div class="form-row">
                <div class="form-group col-md-12 text-center module-box-header mb-0" >
                  <h5 style="color: black;">WorkType Configuration</h5>
                </div>
              </div>
              <div class="form-row module-subheader p-1 pl-2">
                <div class="float-right">
                  <button type="submit" class="btn btn-primary waves-effect waves-light" [disabled]="isLoading">
                    <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-save': !isLoading}"></i>
                    {{button}}</button> &nbsp;&nbsp;
  
                  <a [routerLink]="['/home/clientconfiguration/viewclientconfiguration']" class="btn btn-primary"><i
                      class="fas fa-arrow-alt-circle-left mr-1"></i> Back</a>&nbsp;&nbsp;
                </div>
              </div>
              <div class="form-row" [hidden]="loaddata">
                <div class="col-md-12 text-center"><i class="fa fa-spinner fa-spin" style="font-size: 40px;"></i></div>
              </div>
              <div class="form-row m-0 module-box" style="overflow-x: auto;" [hidden]="loadgrid">
                <kendo-grid #gridUser1 [kendoGridBinding]="wtGriddata" [pageSize]="25" [pageable]="true"
                  [sortable]="true" [filterable]="false" [selectable]="true" [groupable]="false">
                  <kendo-grid-column *ngFor="let column of wtGridColumns" [field]="column.field" [title]="column.title"
                    [width]="column.width">
                    <ng-template kendoGridCellTemplate let-dataItem let-i="rowIndex"
                      *ngIf="column.title==='WorkType Name'">
                      <div class="example-wrapper">
                        <kendo-dropdownlist class="form-control form-control-sm" [data]="drpWTList"
                          [defaultItem]="defaultWTItem" [itemDisabled]="workTypeItemDisabled" [filterable]="true"
                          [textField]="'WT_WorkType'" [valueField]="'WT_pkeyID'" (filterChange)="workTypeFilter($event)"
                          [(ngModel)]="dataItem.WorkType_Configuration_WorkType_Id" [valuePrimitive]="true"
                          [ngModelOptions]="{standalone: true}" (valueChange)="ChangeWorkType()">
                        </kendo-dropdownlist>
                      </div>
                    </ng-template>
                  </kendo-grid-column>
                  <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
                    <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
                    <kendo-pager-numeric-buttons [buttonCount]="10"></kendo-pager-numeric-buttons>
                    <kendo-pager-next-buttons></kendo-pager-next-buttons>
                    <kendo-pager-info></kendo-pager-info>
                    <kendo-pager-page-sizes [pageSizes]="[25, 50, 75, 100, 150, 200]"></kendo-pager-page-sizes>
                  </ng-template>
                </kendo-grid>
              </div>
            </div>

          </form>
        </div>
      </div>
    </ng-template>
  </kendo-tabstrip-tab>
  <kendo-tabstrip-tab [title]="'Masters'">
    <ng-template kendoTabContent>
      <div class="row mt-2">
        <div class="col-lg-12">
          <div class="">
            <div class="form-row m-0">
              <div class="form-group col-md-12 text-center module-box-header mb-0" >
                <h5 style="color: black;">Import Data</h5>
              </div>
            </div>
            <div class="form-row m-0 module-subheader p-1 pl-2">
              <div class="float-right">
                <a [routerLink]="['/home/clientconfiguration/viewclientconfiguration']" class="btn btn-primary"><i
                    class="fas fa-arrow-alt-circle-left mr-1"></i> Back</a>&nbsp;&nbsp;
              </div>
            </div>
            <div class="form-row m-0 module-box p-1">
              <div class="col-md-6">
                <table id="table" class="table ">
                  <thead>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Import Item Code</td>
                      <td>
                        <button id="client_viewdetail_1" class="btn btn-primary btn-xs" [disabled]="icLoading"
                          (click)="importItemCode()">
                          <i *ngIf="icLoading" class="fa fa-spinner fa-spin"
                            style="margin-right: 5px;"></i>{{icbutton}}</button>
                      </td>
                    </tr>
                    <tr>
                      <td>Import Order Type Code</td>
                      <td>
                        <button id="client_viewdetail_1" class="btn btn-primary btn-xs" [disabled]="ocLoading"
                          (click)="importOrderTypeCode()">
                          <i *ngIf="ocLoading" class="fa fa-spinner fa-spin"
                            style="margin-right: 5px;"></i>{{ocbutton}}</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>

          </div>
        </div>
      </div>
    </ng-template>
  </kendo-tabstrip-tab>
</kendo-tabstrip>