<div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <app-breadcrumb title="Support"></app-breadcrumb>
        <div class="icons-list">
          <div class="row" style="justify-content: space-evenly;">
            <iplapp-support-icon class="col-md-2 col-sm-3 col-lg-2 col-5 icons" *ngFor="let item of supportLinks"
              [stitle]="item.stitle"
              [image] ="item.image"
              [routerLink]="item.routerLink">
            </iplapp-support-icon>

          </div>
        </div>
      </div>
    </div>
  </div>

