.import-client-payment{
    width: 60%;
}
.import-client-payment{
    display: flex;
    justify-content: space-evenly;
}
.send-btn{
    margin-top: 20px;
}
.allowed-file-desc{
    display: flex;
    justify-content: space-between;
}
.mt-20{
    margin-top: 20px;
}
#cancel_btn{
    margin-left: 5px;
}