.page-title{
    font-weight: bolder;
    background-color: hwb(203deg 69% 21%);
    height: 3rem;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}
.pervious-answer {
  color: green;
  margin: 5px 0px 5px 15px;
  font-weight: 900;
}
