<div class="container-fluid" style="margin-left: -2px;">
    <br>
        <h3 class="module-box-header mb-0">Downloads</h3>


    <div class="card">
      <div class="card-body">

<div class="row">
    <div class="col-6">
        <p style="text-indent:5px;"><a href="https://www.google.com/chrome" target="_blank"><img src="../../../../assets/images/chrome-logo.png" border="0" style="vertical-align:middle;">&nbsp; Google Chrome</a></p>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <p style="text-indent:5px;"><img src="../../../../assets/images/ff-logo.png" border="0" style="vertical-align:middle;"> <a href="http://www.mozilla.org/" target="_blank">&nbsp;Mozilla Firefox</a></p>
    </div>

</div>
<div class="row">
    <div class="col-6">
        <p style="text-indent:5px;"><img src="../../../../assets/images/zip.png" border="0" style="vertical-align:middle;width:46px;"> <a href="https://www.winzip.com/win/en/" target="_blank">&nbsp;Winzip</a></p>
    </div>

</div>
      </div>
    </div>
</div>
