.page-title{
    font-weight: bolder;
    background-color: hwb(203deg 72% 13%);
    height: 2.5rem;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}
.pervious-answer {
  color: green;
  font-weight: 900;
  margin: 0px 0px 0px 15px;
}
