<div class="container-fluid">
  <div class="row">
    <div class="">
      <div class="col-12">
        <iplapp-content-header title="Create Lock Reason" [buttons]="buttons" (clickButton)="AddLockReason($event, AddEditLockReason)"></iplapp-content-header>
        <div class="module-subheader p-1 pl-2">
          <iplapp-filter-form  [modelObj]="propertyLockReason" [formFilters]="PropertyLockReasonFilter"
          (filterCall)="filterCall()" (clearData)="clearData()" (saveFilterData)="saveFilterData()">
        </iplapp-filter-form>
        </div>
        <div class="row m-0 module-box">
          <kendo-grid #gridUser [kendoGridBinding]="griddata" [pageSize]="25" [pageable]="true" [sortable]="true"
            [filterable]="false" [selectable]="true" [groupable]="false" [skip]="state.skip" [sort]="state.sort"
            [filter]="state.filter" (dataStateChange)="dataStateChange($event)" >
            <kendo-grid-column field="LockReason_Name" title="Lock Reason"
               [width]="200">
            </kendo-grid-column>
            <kendo-grid-column field="LockReason_CreatedBy" title="Created By"
               [width]="200">
            </kendo-grid-column>
            <kendo-grid-column field="LockReason_ModifiedBy" title="Last Modified By"
               [width]="200">
            </kendo-grid-column>
            <kendo-grid-column field="LockReason_IsActive" title="Active"
               [width]="80"
              filter="boolean">
              <ng-template kendoGridCellTemplate let-dataItem let-i="rowIndex">
                <div class="custom-control custom-switch">
                  <input type="checkbox"(change)="UpdateLockReasonStatus($event, dataItem)"
                      class="custom-control-input" id="switchisActive{{i}}"
                      [checked]="dataItem.LockReason_IsActive">
                  <label class="custom-control-label" for="switchisActive{{i}}"></label>
              </div>

              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column title="Action"
               width="80">
              <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <a class="edit" data-toggle="tooltip"  (click)="EditLockReason(AddEditLockReason, dataItem)" data-placement="top"
                  title="View Record" [routerLink]="['/state/addstate']">
                  <i class="fa fa-eye"></i>
                </a> &nbsp;&nbsp;
                <a class="edit" data-toggle="tooltip" (click)="DeleteLockReason($event, dataItem)" data-placement="top"
                  title="Delete Record" style="cursor: pointer">
                  <i class="fa fa-trash"></i>
                </a>
              </ng-template>
            </kendo-grid-column>

            <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
              <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
              <kendo-pager-numeric-buttons [buttonCount]="10"></kendo-pager-numeric-buttons>
              <kendo-pager-next-buttons></kendo-pager-next-buttons>
              <kendo-pager-info></kendo-pager-info>
              <kendo-pager-page-sizes [pageSizes]="[25, 50, 75, 100, 150, 200]"></kendo-pager-page-sizes>
            </ng-template>
          </kendo-grid>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #AddEditLockReason let-modal>
  <div class="modal-header">
    <div>
      <h4 class="page-title" style="font-weight: bolder; line-height: 1.5;">Property Lock Reason
      </h4>
    </div>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" [ngClass]="{ 'HelpCursor': isHelpActive }">
    <div class="p-2" style="box-shadow: 0 0 4px gray;" >
      <iplapp-form-card [formUsrCommonGroup]="formUsrCommonGroup" title="Add Property Lock Reason" [fields]="FormFields"
      [isEditDisable]="isEditDisable" [modelObj]="AddpropertyLockReason" [isSubmitted]="isSubmitted"
      (submitForm)="SubmitForm()" (back)="closeModal()" (dispalyInfoData)="DispalyInfo($event)"></iplapp-form-card>
    </div>
  </div>
</ng-template>

