<div class="container-fluid" style="margin-top: 1%;" [ngClass]="{ 'HelpCursor': isHelpActive }">
      
      <h4 class="module-box-header mb-0">Add Groups 
        <a class="pull-right mr-2" data-toggle="tooltip" (click)="SetHelpFlag()" data-placement="top"
        title="Item Help" style="cursor: pointer;">Need Help
        <i class="fas fa-question"></i>&nbsp;&nbsp;
        </a>
      </h4>
      <form [formGroup]="formUsrCommonGroup" (ngSubmit)="FormButton()">
      <div class="form-row m-0 module-subheader p-1 pl-2">
        <div class="float-right">
          <button id="client_viewdetail_1" class="btn btn-primary" *ngIf="IsEditDisable"
            [routerLink]="['/group/addgroups']" (click)="EditForms()">
            <i class="far fa-edit mr-1"></i> Edit</button>
          <button id="client_viewdetail_1" class="btn btn-primary" type="submit" *ngIf="!IsEditDisable"
            [disabled]="isLoading">
            <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-save': !isLoading}"></i>
            {{button}}
          </button>
          <button id="client_viewdetail_1" class="btn btn-primary" [routerLink]="['/home/group/viewgroups']"
            style="margin-left: 6px;">
            <i class="fas fa-arrow-alt-circle-left mr-1"></i> Back</button>
        </div>
      </div>
    
        <div class="row m-0 module-box">
          <div class="col-lg-12 p-2">
              <div class="form-row">
                <div class="form-group module-subheader mb-0 col-md-12 text-center" >
                  <h5>Group  </h5>
                </div>
              </div>
              <div class="row m-0 module-box pt-1" style="box-shadow: 0 0 5px gray !important;" >
                <div class="col-lg-6">
                  <div class="form-row">
                    <div class="form-group col-md-3">
                      <label class="col-form-label" for="hjhkerddfgdfs" [ngClass]="{ 'HelpCursor': isHelpActive }" (click)="DispalyInfo($event,'Group Name')">Group Name <span
                          style="color: red">*</span></label>
                    </div>
                    <div class="form-group col-md-3">
                      <input type="text" id="hjhkerddfgdfs" class="form-control form-control-sm"
                        placeholder="Enter Group Name" [(ngModel)]="AddGroupsModelObj.Grp_Name" formControlName="FName"
                        [ngClass]="{ 'is-invalid': submitted && fx.FName.errors }" (click)="DispalyInfo($event,'Group Name')"
                        [readonly]="isHelpActive" [ngClass]="{ 'HelpCursor': isHelpActive }">
                      <div *ngIf="submitted && fx.FName.errors" class="invalid-feedback">
                        <div *ngIf="fx.FName.errors.required">this field is required</div>
                        <div *ngIf="fx.FName.errors.email">Email must be a valid email address</div>
                      </div>
                    </div>
                    <div class="form-group col-md-3">
                      <label class="col-form-label" for="" [ngClass]="{ 'HelpCursor': isHelpActive }" (click)="DispalyInfo($event,'Group Role')">Group Role </label>
                    </div>
                    <div class="form-group col-md-3">
                      <select id="grouprole" class="form-control form-control-sm"
                        [(ngModel)]="AddGroupsModelObj.GroupRoleId" (change)="Group_Method();"
                        formControlName="GroupRoleVal"
                        [ngClass]="{'is-invalid': fx.GroupRoleVal.touched && fx.GroupRoleVal.errors }" (click)="DispalyInfo($event,'Group Role')"
                         [ngClass]="{ 'HelpCursor': isHelpActive }">
                        <option value='0'>-Select-</option>
                        <option [ngValue]="kb.Group_DR_PkeyID" *ngFor="let kb of GroupRoleList">
                          {{kb.Group_DR_Name}}
                        </option>
                      </select>
                      <div *ngIf="GroupRoleValFlag" class="Mydropdown">this field is required
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-4">
                      <label class="col-form-label" for="customCdsfdsheck11c" [ngClass]="{ 'HelpCursor': isHelpActive }"
                      (click)="DispalyInfo($event,'Active')">Active  <span
                          style="color: red">*</span></label>
                    </div>
                    <div class="form-group col-md-8">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCdsfdsheck11c"
                          [(ngModel)]="AddGroupsModelObj.Grp_IsActive" formControlName="disact" [ngClass]="{ 'HelpCursor': isHelpActive }" (click)="DispalyInfo($event,'Active')">
                        <label class="custom-control-label" for="customCdsfdsheck11c" [ngClass]="{ 'HelpCursor': isHelpActive }"
                        (click)="DispalyInfo($event,'Active')"></label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br>
                <div class="row">
                  <div class="col-lg-4 ipl my-2" *ngFor="let item of Menulst">
                    <div class="row">
                      <div class="col-lg-12" *ngFor="let itemx of item">
                       
                        <iplapp-bulk-checkbox
                          [props]="itemx"
                          [disable]="IsAssigned"
                          (selectbox)="checkboxChanges($event)"
                          [ngClass]="{ 'HelpCursor': isHelpActive }"
                          (Selectclick)="DispalyInfoChild($event)"
                          >
                        </iplapp-bulk-checkbox>

                     
                    </div>
                    </div>
                  </div>
                </div>

              <div class="form-row">
                <div class="float-right">
                  <label for="InvestmentSihhhze" *ngIf="formUsrCommonGroup.invalid" style="color:red;margin-top:10px">*
                    Field is Required
                  </label> <br>

                </div>
              </div>
          </div>
        </div>
      </form>
</div>
