<div class="container-fluid">
    <div class="card "  >
        <div class="card-body">
            <app-breadcrumb title="Template Forms"></app-breadcrumb>
            <div class="d-flex flex-wrap" style="gap:5%;">
                <div class="icons-list">
                    <div class="row">
                    <div class="icons text-center mt-0" style="width: 14rem;height: 9rem;">
                    <a [routerLink]="['../template-fb-forms']">
                        <img src = "../../../../assets/icons/FiveBrother.png" style="width: 88px; ">
                        <span>Five Brothers</span>
                    </a>
                  </div> 
                  </div>
                  </div> 
                  
                  <div class="icons-list">
                    <div class="row">
                    <div class="icons text-center mt-0" style="width: 14rem;height: 9rem;">
                    <a [routerLink]="['../cyprexx-fb-forms']">
                        <img src = "../../../../assets/icons/logo Cyprexx.png" style="width: 92px; ">
                        
                        <span>
                            Cyprexx 
                        </span>
                    </a>
                  </div> 
                  </div>
                  </div>


                <div class="icons-list">
                    <div class="row">
                    <div class="icons text-center mt-0" style="width: auto !important;">
                    <a [routerLink]="['../msi-template-form']">
                        <img src = "../../../../assets/icons/MSI-Logo-Only.png" style="width:77px; ">
                        <span>
                            MSI Grass PCR Forms
                        </span>
                    </a>
                  </div> 
                  </div>
                  </div>

                  <div class="icons-list">
                    <div class="row">
                    <div class="icons text-center mt-0" style="width: auto !important;">
                    <a routerLink="/home/serviceLink/servicelinktemplate">
                        <img src = "../../../../assets/icons/service-link.jpg" style="width:61px;">
                        <span>
                           Service Link Forms
                        </span>
                    </a>
                  </div> 
                  </div>
                  </div>

                  <div class="icons-list">
                    <div class="row">
                    <div class="icons text-center mt-0" style="width: auto !important;">
                    <a routerLink="../mcs-template-fb-forms">
                       <img src = "../../../../assets/icons/MCS-Form.jpg" style="width:65px;">
                        <span>
                          MCS Forms
                        </span>
                    </a>
                  </div> 
                  </div>
                  </div>

                  <div class="icons-list">
                    <div class="row">
                    <div class="icons text-center mt-0" style="width: auto !important;">
                    <a routerLink="../NFR-template-fb-forms">
                      <img src = "../../../../assets/icons/MCS-Form.jpg" style="width:65px;">
                        <span>
                          NFR Processing Forms
                        </span>
                    </a>
                  </div> 
                  </div>
                  </div>
            </div>
            
        </div>
        
    </div>
    
</div>

